@import "foundation";

$color_1: #e9e9e9;
$color_2: #8c8c8c;
$color_3: #434343;
$color_4: #b1e1e1;
$color_5: #ff5757;
$color_6: #c4e8e8;
$color_7: #d9f1f1;
$color_8: #edf9f9;
$color_9: #f4fbfb;
$color_10: #d2d2d2;
$color_hover: #555555;
$clrWhite: #f4efef;
$clrHasError: #ffebee;
$clrIconSucces: #00c853;
$clrIconError: #e57373;
$clrBorderTable: #f1f1f1;

table.art_body {
  background-color: white;
}
.art_body {
  .main_data, .table_product {
    & .row .columns {
      th {font-size: 14px;}
    }
  }
}
.logo {
  padding-top: 15px;
  img {
    width: 180px;
  }
}
.title_header {
  background-color: $color_4;
  h3 {
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 24px;
  }
}
.content_header {
  .text {
    padding-top: 30px;
  }
}
.hr_top{
  border-top: 1px solid $color_3;
}
.title_main_data_order {
  text-transform: uppercase;
  padding-bottom: 20px;
  .hr_top{
    padding-top: 10px;
  }
}
.main_data{
  font-size:14px;
}

.row .columns.main_data {
  padding-bottom: 3px;
}

.table_product {
  font-size: 14px;
  margin-top: 20px;
  .title_table {
    .row {
      background-color: $clrBorderTable;
    }
    .title_table_prod {
      padding-top: 10px;
    }
  }
  .items_products {
    .columns {
      padding-top: 5px;
      padding-bottom: 5px;
      border-bottom: 1px solid $clrBorderTable;
    }
  }
  .results_table {
    .columns {
      padding-top: 5px;
      padding-bottom: 5px;
      border-bottom: 1px solid $clrBorderTable;
    }
    .empty{
      border-bottom: none;
    }
  }
}
.footer {
  margin-top: 40px;
}

